@font-face {
    font-family: 'IRANYekanWeb';
    src: url('../fonts/iranyekanwebregular.eot');
    src: url('../fonts/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebregular.woff') format('woff'), url('../fonts/iranyekanwebregular.woff2') format('woff2'), url('../fonts/iranyekanwebregular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('../fonts/iranyekanwebmedium.eot');
    src: url('../fonts/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebmedium.woff') format('woff'), url('../fonts/iranyekanwebmedium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('../fonts/iranyekanwebbold.eot');
    src: url('../fonts/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebbold.woff') format('woff'), url('../fonts/iranyekanwebbold.woff2') format('woff2'), url('../fonts/iranyekanwebbold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('../fonts/iranyekanwebextrabold.eot');
    src: url('../fonts/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebextrabold.woff') format('woff'), url('../fonts/iranyekanwebextrabold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('../fonts/iranyekanwebblack.eot');
    src: url('../fonts/iranyekanwebblack.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebblack.woff') format('woff'), url('../fonts/iranyekanwebblack.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('../fonts/iranyekanwebextrablack.eot');
    src: url('../fonts/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebextrablack.woff') format('woff'), url('../fonts/iranyekanwebextrablack.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'IRSANS';
    src: url('../fonts/iransans.eot');
    src: url('../fonts/iransans.eot?#iefix') format('embedded-opentype'), url('../fonts/iransans.woff') format('woff'), url('../fonts/iransans.woff2') format('woff2'), url('../fonts/iransans.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: AV;
    font-style: normal;
    src: url('../fonts/aviny.eot');
    src: url('../fonts/aviny.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aviny.woff2') format('woff2'),
    url('../fonts/aviny.woff') format('woff'),
    url('../fonts/aviny.ttf') format('truetype');
}